.favourites_header_container {
  background-color: rgb(104, 0, 139);
  text-align: center;
  width: 100vw;
}

.favourites_header {
  padding: 1rem;
}

.favourites_header_text {
  color: antiquewhite;
}
