.searchbox_container {
  align-items: center;
  background-color: rgb(104, 0, 139);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  letter-spacing: 1px;
  padding: 0.25rem 0rem 1rem 0rem;
  text-align: center;
  width: 100vw;
  word-spacing: 0.5rem;
}

.searchbox_text_container {
  margin: 0.5rem 0rem 0.25rem 0.25rem;
}

.searchbox_input {
  border: 1px solid black;
  font-size: 1rem;
  max-width: 100px;
  padding: 0 2px;
  text-align: center;
}

.view_favourites_container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.view_favourites {
  background-color: darkorange;
  color: aliceblue;
  margin-top: 1rem;
  max-height: 4rem;
  max-width: 40rem;
  padding: 0.5rem 1.8rem;
  text-decoration: none;
}

.view_favourites:hover {
  filter: brightness(1.3);
}
