.searchbox_container {
  width: 100vw;
  text-align: center;
  background-color: rgb(104, 0, 139);
  padding: 0.25rem 0rem 1rem 0rem;
  color: white;
  letter-spacing: 1px;
  word-spacing: 0.5rem;
}

.searchbox_text_container {
  margin: 0.5rem 0rem 0.25rem 0.25rem;
}

.searchbox_input {
  border: 1px solid black;
  max-width: 100px;
  padding: 0 2px;
  text-align: center;
  font-size: 1rem;
}
